* {
    margin: 0 auto;
}

body {
    margin: 0 auto;
    font-family: tulisan_baru;
    margin: 0 auto;
}

@font-face {
    font-family: tulisan_baru;
    src: url(Quicksand-VariableFont_wght.ttf);
}

.container {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 auto;
}

.header {
    width: 100%;
    /* height: 81px; */
    display: flex;
    position: fixed;
    background-color: white;
    margin-bottom: 10px;
    scrollbar-shadow-color: #494949;
}


.row1 {
    width: 1358px;
    height: 75px;
    display: flex;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.059);
}

.row2 {
    width: 1366px;
    height: 768px;
}

.logo {
    display: flex;
}

.workout {
    margin-top: 40px;
}

.logo1 {
    width: 100px;
    padding-left: 182px;
    padding-top: 18px;
}

.hks {
    display: flex;
}

.home {
    font-size: 13px;
    margin-top: 30px;
    margin-left: 410px;
    color: #666;
    cursor: pointer;
}

.home:hover {
    color: #4db7fe;
}

.kelas {
    margin-top: 27px;
    margin-left: 47px;
}

.pilihan {
    font-size: 13px;
    width: 65px;
    border: 0px;
    color: #494949;
    cursor: pointer;
    font-family: tulisan_baru;
}

.pilihan:hover {
    color: #4db7fe;
}


.sign_in {
    margin-top: 4px;
    margin-bottom: 3px;
    margin-left: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ddd {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #666;
    font-size: 12px;
}

.ddd:hover {
    color: #4db7fe;
}

.btn {
    margin-top: 18px;
    margin-left: 45px;
    background-color: #4db7fe;
    color: white;
    border: 0px;
    width: 131px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 12px;
    font-family: tulisan_baru;
}


.gambarutama {
    background-image: url(gambarutamabaru.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;

}

.data {
    margin-top: 200px;
    width: 1366px;
}

.sisi1 {
    width: 180px;
    height: 250px;
}

.sisi2 {
    width: 10px;
}

.data1 {
    color: #4db7fe;
    width: 200px;
}

.atas2 {
    width: 1366px;
    height: 768px;
    margin-top: 78px;
}

.btntengah {
    width: 280px;
    margin-left: 560px;
    margin-top: 520px;
}

.baru {
    width: 1366px;
    height: 768px;
}

.daftarmakanan {
    text-decoration: none;
}